*{margin: 0; padding: 0; box-sizing: border-box; transition: all 0.3s ease-in-out;}

/*общие настройки*/
@font-face 
{
  font-family: "Inknut Antiqua Medium";
  src: url("fonts/InknutAntiqua-Medium.ttf") format("woff2");
}
@font-face 
{
  font-family: "Nunito Sans Normal ExtraLight";
  src: url("fonts/NunitoSans.ttf") format("woff2");
  font-weight: 400;
}
body 
{
	font-family: "Inknut Antiqua Medium", "Nunito Sans Normal ExtraLight", sans-serif;
	background: #DDDBD7;
	color: #211E1A;
}

/*main page*/
#index
{
	width: 100%;
	height: auto;
	background: #DDDBD7;
	padding: 4em 0 0 0;
}
#flats
{
	width: 100%;
	height: auto;
	background: #DDDBD7;
	padding: 0;
}
#index .wrapper, #flats .wrapper
{
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto 2em auto;
}
#flats .wrapper{flex-wrap: wrap;}
#index menu
{
	display: flex;
	justify-content: space-between;
}
#index nav{margin-left: 15em;}
#index nav a
{
	padding: 2px 0;
	margin: 0 1em;
	text-decoration: none;
	color: #211E1A;
	border-bottom: 2px solid #DDDBD7;
}
#index nav a:hover
{
	border-bottom: 2px solid #211E1A;
}
#index menu a{color: #211E1A;}
#index menu .box{margin: 0 2em;}
.box.sign
{
	padding: 2px 8px 0 8px;
	border: 1px solid #211E1A;
	border-radius: 26px;
	display: inline-flex;
}
.box.sign img{margin: 0 0.5em;}
.box.sign button{padding: 0.5em; background: none; border: none;}
.box1
{
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 0.5em 1em;
	border: 1px solid #211E1A;
	border-radius: 26px;
}

.info
{
	margin-right: 2em;
	padding: 0.5em 1em;
	text-align: left;
	background: #DDDBD7;
	border: 1px solid #DDDBD7;
	border-left: 1px solid #1F222C;
}
#index .info:nth-child(1){padding: 0 15em 0 1em; border: 1px solid #DDDBD7;}
#index .info:nth-child(4){padding-right: 6em;}
#flats .info:nth-child(1){border: 1px solid #DDDBD7;}
.info.search
{
	background: #6F6558;
	border-radius: 36px;
	padding: 0.5em 0.7em;
	margin-right: 0;
	border: 1px solid #DDDBD7;
}
#index .info:hover
{
	background: #6F6558;
	border: 1px solid #6F6558;
	border-radius: 20px;
	color: white;
	cursor: pointer;
}
.info.search:hover
{
	background: #8A8278;
	border: 1px solid #8A8278;
	border-radius: 36px;
	cursor: pointer;
}
#index .box2
{
	padding: 0.5em 3em;
	background: #6F6558;
	border: 1px solid #6F6558;
	border-radius: 26px;
	color: white;
	text-align: center;
	font-size: 16px;
}
#index .box2:hover
{
	background: #8A8278;
	border: 1px solid #8A8278;
	cursor: pointer;
}
#index  p{line-height: 1.3em;}
#index  p span{color: #8A8278;}


.filter
{
	background: none;
	border: none;
	border-bottom: 2px solid #DDDBD7;
	padding: 0.5em;
}
.filter.bt
{
	background: none;
	display: inline-flex;
	padding: 1.3em 0.8em 0.6em 0.8em;
	border: 1px solid #211E1A;
	border-radius: 26px;
	text-align: left;
}
.filter img {height: 23px;}
.filter.bt img 
{
	margin: 0 0.6em;
	height: 23px;
}
.filter:nth-child(10){border-bottom: 2px solid #211E1A;}
.filter.bt:nth-child(13)
{
	padding: 1em;
}
.filter.bt:nth-child(13) img
{
	margin: 0.3em 0.5em;
	
}
.filter:hover
{
	border-bottom: 2px solid #211E1A;
	cursor: pointer;
}
.filter.bt:hover
{
	border-bottom: 1px solid #211E1A;
}



#flats .card
{
	background: none;
	border: none;
	text-align: left;
	position: relative;
	margin-bottom: 3em;
}
#flats .card .photo img{border-radius: 16px;}
#flats .card #fav
{
	position: absolute;
	top: 1em;
	right: 1em;
}
#flats .card #sl
{
	position: absolute;
	bottom: 9em;
	right: 0;
	left: 0;
	margin: auto;
}
#flats .card a
{
	text-decoration: none;
	color: #211E1A;
}
#flats .card .description .header
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0.8em 0;
	font-size: 16px;
}
#flats .card .description .header figure
{
	display: inline-flex;
	font-family: "Nunito Sans Normal ExtraLight";
	font-size: 13px;
}
#flats .card .description .text
{
	font-family: "Nunito Sans Normal ExtraLight";
	font-size: 13px;
}
#flats .card .description .value
{
	font-size: 12px;
	margin-top: 1em;
}
>>>>>>> Stashed changes
/*house page*/
#house
{
	width: 100%;
	padding: 4em 0 0;
}

#house nav
{
	width: 75%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

#house .logo  a img 
{
	width: 120px;
}

#house .left 
{
	width: 57%;
	display: flex;
	justify-content: space-between;
}

#house .center
{
	display: flex;
	gap: 38px;
	align-items: center;
}

#house .find 
{
	width: 303px;
	padding: 4px 5px 4px 28px;
	display: flex;
	justify-content: space-between;
	border: solid 1px #2C2823;
	border-radius: 28px;
}

#house .find button
{
	width: 39px;
	height: 39px;
	background: #6F6558;
	border: none;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
}

#house .find button img
{
	width: 21px;
}

#house a
{
	color: #211E1A;
}

#house .menu
{
	width: 87px;
	padding: 4px 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: solid 1px #2C2823;
	border-radius: 26px;
}

#house .menu a
{
	display: flex;
	align-items: center;
	justify-content: center;
}

#house .menu a .profile 
{
	width: 21px;
}

#m_house
{
	width: 100%;
}

#m_house .title
{
	width: 75%;
	margin: 1.5em auto;
}

#m_house h1
{
	font-size: 25px;
}

#m_house .under_title
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 20px;
}

#m_house .under_title .rating 
{
	display: flex;
	gap: 10px;
	align-items: center;
}

#m_house .under_title .rating-value 
{
	display: flex;
	gap: 4px;
	justify-content: center;
	align-items: center;
}

#m_house .under_title .rating-value img 
{
	margin-top: 4px;
}

#m_house .under_title .actions 
{
	display: flex;
	gap: 30px;
	align-items: center;
}

#m_house .under_title .actions button
{
	border: none;
	background: none;
	display: flex;
	align-items: center;
	gap: 10px;
}

#m_house .under_title .actions a
{
	color: #211E1A;
	font-size: 12px;
	font-weight: 500;
}

.photo_gallery {
	width: 75%;
  display: grid;
  grid-template-columns: repeat(4, 272px);
  grid-template-rows: repeat(2, 274px);
  margin: 0 auto;
  gap: 8px;
}
    
.photo1 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  background-image: url("img/flat_studio_photo1.svg");
}

.photo2 {
  grid-column-start: 3;
  background-image: url("img/flat_studio_photo2.svg");
}

.photo3 {
  grid-column-start: 4;
  background-image: url("img/flat_studio_photo3.svg");
}

.photo4 {
  grid-column-start: 3;
  grid-row-start: 2;
  background-image: url("img/flat_studio_photo4.svg");
}

.photo5 {
  grid-column-start: 4;
  grid-row-start: 2;
  background-image: url("img/flat_studio_photo5.svg");
}