*{margin: 0; padding: 0; box-sizing: border-box; transition: all 0.3s ease-in-out;  /*outline: 1px solid red;*/}

/*общие настройки*/
@font-face 
{
  font-family: "Inknut Antiqua Medium";
  src: url("fonts/InknutAntiqua-Medium.ttf") format("woff2");
}
@font-face 
{
  font-family: "Nunito Sans Normal ExtraLight";
  src: url("fonts/NunitoSans.ttf") format("woff2");
  font-weight: 400;
}
body 
{
  font-family: "Inknut Antiqua Medium", "Nunito Sans Normal ExtraLight", sans-serif;
  background: #DDDBD7;
  color: #211E1A;
}
body.no-scroll{overflow: hidden;}

hr
{
  background: #6F6558; 
  border: none; 
  height: 1px;
}

@media screen and (max-width: 425px) {
h1
{
  font-size: 20px;
  line-height: 32px;
}

h2 { 
  font-size: 16px;
  line-height: 20px;
  font-family: "Nunito Sans Normal ExtraLight";
}

h3 {
  font-size: 20px;
  line-height: 20px;
  margin-top: 28px;
  margin-bottom: 24px;
  font-family: "Nunito Sans Normal ExtraLight";
}

h4 {
  font-size: 14px;
  line-height: 20px;
  font-family: "Nunito Sans Normal ExtraLight";
}

span
{
  font-size: 14px;
}

p {
  font-family: "Nunito Sans Normal ExtraLight";
  font-size: 12px;
  line-height: 17px;
}

a
{
  font-size: 12px;
  color: #211E1A;
}

h5
{
  font-size: 12px;
  color: #211E1A;
  font-weight: 400;
  line-height: 17px;
}

.mobile {
  padding-bottom: 50px;
}

main 
{
  width: 87%;
  margin: 0 auto;
}


.hero img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.section {
  padding: 16px;
  margin: 0 auto;
}

.header
{
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin-bottom: 17px;
}


.rating {
  margin-top: 8px;
  font-size: 14px;
}

.host {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.under
{
  color: #433D35;
  margin: 25px 0;
}

.features div {
  margin-bottom: 8px;
}

.sleep {
  display: flex;
  gap: 10px;
  margin: 17px 0 14px;
}

.sleep img {
  width: 50%;
}

.borderBtn
{
  width: 100%;
  border: solid 1px #211E1A;
  background: none;
  color: #211E1A;
  padding: 13px 7px;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.spisok
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 71px;
  grid-row-gap: 9px;
  margin-top: 32px;
}

.zruch_opt
{
  display: flex;
  align-items: flex-start;;
  gap: 12px;
}

.zruch_opt img
{
  width: 19px;
}

.amenities {
  list-style: none;
}

.amenities li {
  margin-bottom: 8px;
}

.map {
  height: 180px;
  background: #ddd;
  border-radius: 12px;
  margin: 10px 0;
}

.month-title
{
  text-align:center;
  font-size: 12px;
  margin-bottom: 10px;
  color: white;
}

.month 
{
  width: 90%;
  padding: 15px 38px 30px;
  background: #6F6558;
  border-radius: 16px;
  margin: 24px auto 10px;
}

.dow
{
  display:grid;
  grid-template-columns: repeat(7, 35px);
  text-align:center;
  justify-content: center;
  margin-bottom: 10px;
}

.dow h5{font-weight: 400; color: white;}

.days
{
  display:grid;
  grid-template-columns: repeat(7, 25px);
  gap: 10px;
  text-align: center;
  justify-content: center;
}

.day
{
  border:none;
  cursor: pointer;
  padding: 5px 0;
  border-radius: 26px;
  color: white;
}

.simple
{
  background: none;
}

.simple:hover{ background: #504B42; }

.selected {
  background: #211E1A;
  color: white;
  border-radius: 26px;
}

.selected:hover {
  background: #5A5247;
}

.disabled {
  color: #8A8278;
  background: none;
  text-decoration-line: line-through;
  cursor: not-allowed;
  pointer-events: none;
}

.empty{ height: 25px; }

.clear {
  background: none;
  border: none;
  color: #555;
  text-decoration: underline;
}

.review-header {
  font-size: 14px;
  margin-bottom: 6px;
  background: #6F6558;
  border-radius: 16px;
  padding: 17px 21px;
  color: white;
}

.pearsone
{
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 26px;
}

/* HOST INFO */
.host-info {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.host-info img 
{
  width: 80px;
  height: 80px;
}

.normal
{
  font-weight: 400;
}

.descrp
{
  margin-bottom: 15px;
}

.bolderT 
{
  font-weight: 700;
}

.about_host .opt
{
  margin-bottom: 25px;
}

.about_host div h2
{
  margin-bottom: 17px;
}

.call p 
{
  margin-top: 11px;
}

.rules h2 
{
  margin-bottom: 22px;
}

.backBtn
{
  width: 100%;
  background: #6F6558;
  color: white;
  padding: 18px 7px;
  border-radius: 16px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  font-family: ;
}

.backBtn a 
{
  color: white;
  text-decoration: none;
  font-family: "Nunito Sans Normal ExtraLight";
}

.final_page
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh
}

.done 
{
  width: 87%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

}
